*, *::before, *::after {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px lightgrey;
}

.navbar_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
}

.navbar_logo {
    list-style: none;
    margin-right: auto;
}

.navbar_logo img {
    width: 5rem;
}

.navbar_btn {
    list-style: none;
    font-weight: bold;
    position: relative;
    padding: 1.5rem 1rem;
    cursor: pointer;
    transition: background-color 1ms;
}

.navbar .navbar_list .navbar_btn:hover {
    background-color: pink;
}

.navbar_btn:hover ul, .navbar_btn:focus ul{
    opacity: 100%;
    visibility: visible;
}

.navbar_dropdown {
    position: absolute;
    top: 4rem;
    left: -1rem;
    box-shadow: 0 0 10px lightgrey;
    background-color: white;
    width: 12rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    opacity: 0%;
    visibility: hidden;
    transition: opacity 1ms;
}

.navbar_dropdown li {
    list-style: none;
    padding: 0.5rem 1rem;
    transition: background-color 1ms; 
}

.navbar .navbar_list .navbar_btn .navbar_dropdown li:hover{
    background-color: pink;   
}

@media only screen and (max-width: 625px) {
    .navbar .navbar_list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .navbar_btn {
        display: block;
        padding: 15px 5px;
    }
}